In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_excel('movie_lines.xlsx')

In [3]:
data1 = pd.read_excel('char_data.xlsx')

In [4]:
data2 = pd.read_excel('movie_metadata.xlsx')

In [5]:
data.drop(['Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14'],axis=1,inplace=True)

In [6]:
data.head()

   lineID charID movieID   charName           line
0  L1045     u0      m0     BIANCA    They do not!
1  L1044     u2      m0          zz    They do to!
2   L985     u0      m0     BIANCA      I hope so.
3   L984     u2      m0    CAMERON       She okay?
4   L925     u0      m0     BIANCA       Let's go.

In [7]:
data1.head()

  charID    charName movieID                     movieName gender pos
0    u0      BIANCA      m0    10 things i hate about you      f    4
1    u1       BRUCE      m0    10 things i hate about you      ?    ?
2    u2     CAMERON      m0    10 things i hate about you      m    3
3    u3    CHASTITY      m0    10 things i hate about you      ?    ?
4    u4        JOEY      m0    10 things i hate about you      m    6

In [8]:
data2.head()

,movieID,movieName,year,rating,votes,genre
0,m0,NaN,1999,6.9,62847,"['comedy', 'romance']"
1,m1,1492: conquest of paradise,1992,6.2,10421,"['adventure', 'biography', 'drama', 'history']"
2,m2,15 minutes,2001,6.1,25854,"['action', 'crime', 'drama', 'thriller']"
3,m3,2001: a space odyssey,1968,8.4,163227,"['adventure', 'mystery', 'sci-fi']"
4,m4,48 hrs.,1982,6.9,22289,"['action', 'comedy', 'crime', 'drama', 'thril..."

In [9]:
data2['movieName'].iloc[0]='10 things i hate about you'

C:\Users\mritunjay\Anaconda3\envs\tensorflow\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [10]:
data2.head()

,movieID,movieName,year,rating,votes,genre
0,m0,10 things i hate about you,1999,6.9,62847,"['comedy', 'romance']"
1,m1,1492: conquest of paradise,1992,6.2,10421,"['adventure', 'biography', 'drama', 'history']"
2,m2,15 minutes,2001,6.1,25854,"['action', 'crime', 'drama', 'thriller']"
3,m3,2001: a space odyssey,1968,8.4,163227,"['adventure', 'mystery', 'sci-fi']"
4,m4,48 hrs.,1982,6.9,22289,"['action', 'comedy', 'crime', 'drama', 'thril..."

In [11]:
merged = pd.merge(data,data1,how="left",on="charName")

In [12]:
len(merged)
#len(data)

1655380

In [13]:
merged.isnull().sum(axis=0)

lineID       0
charID_x     0
movieID_x    0
charName     0
line         0
charID_y     1
movieID_y    1
movieName    1
gender       1
pos          1
dtype: int64

In [14]:
merged.dropna(axis=0,inplace=True)

In [15]:
fact = merged

In [17]:
fact.head()

,lineID,charID_x,movieID_x,charName,line,charID_y,movieID_y,movieName,gender,pos
0,L1045,u0,m0,BIANCA,They do not!,u0,m0,10 things i hate about you,f,4
1,L1045,u0,m0,BIANCA,They do not!,u1939,m127,made,?,?
2,L1045,u0,m0,BIANCA,They do not!,u7488,m506,scream 3,?,?
3,L1045,u0,m0,BIANCA,They do not!,u7968,m540,supergirl,f,5
5,L985,u0,m0,BIANCA,I hope so.,u0,m0,10 things i hate about you,f,4

In [18]:
fact.drop(['charID_y','movieID_y','pos'],inplace=True,axis=1)

In [19]:
fact.drop_duplicates(inplace=True,subset='line')

In [20]:
fact.head()

,lineID,charID_x,movieID_x,charName,line,movieName,gender
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f
5,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f
9,L984,u2,m0,CAMERON,She okay?,10 things i hate about you,m
12,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f
16,L924,u2,m0,CAMERON,Wow,10 things i hate about you,m

In [21]:
len(fact)

265903

In [22]:
fact.columns = ['lineID','charID','movieID','charName','line','movieName','gender']

In [23]:
fact.head(15)

,lineID,charID,movieID,charName,line,movieName,gender
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f
5,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f
9,L984,u2,m0,CAMERON,She okay?,10 things i hate about you,m
12,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f
16,L924,u2,m0,CAMERON,Wow,10 things i hate about you,m
19,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,f
23,L871,u2,m0,CAMERON,No,10 things i hate about you,m
26,L870,u0,m0,BIANCA,I'm kidding. You know how sometimes you just...,10 things i hate about you,f
30,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,f
34,L868,u2,m0,CAMERON,"The ""real you"".",10 things i hate about you,m
37,L867,u0,m0,BIANCA,What good stuff?,10 things i hate about you,f
41,L866,u2,m0,CAMERON,I figured you'd get to the good stuff eventua...,10 things i hate about you,m
44,L865,u2,m0,CAMERON,Thank God! If I had to hear one more story a...,10 things i hate about you,m
47,L864,u0,m0,BIANCA,"Me. This endless ...blonde babble. I'm like,...",10 things i hate about you,f
51,L863,u2,m0,CAMERON,What crap?,10 things i hate about you,m

In [24]:
data2.isnull().sum(axis=0)

movieID      0
movieName    0
year         0
rating       0
votes        0
genre        0
dtype: int64

In [25]:
data2 = data2[['movieName','rating']]

In [26]:
data2.head()

                      movieName  rating
0    10 things i hate about you     6.9
1   1492: conquest of paradise      6.2
2                   15 minutes      6.1
3        2001: a space odyssey      8.4
4                      48 hrs.      6.9

In [27]:
fact.head()

,lineID,charID,movieID,charName,line,movieName,gender
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f
5,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f
9,L984,u2,m0,CAMERON,She okay?,10 things i hate about you,m
12,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f
16,L924,u2,m0,CAMERON,Wow,10 things i hate about you,m

In [28]:
df = fact

In [29]:
df = pd.merge(fact,data2,on='movieName',how='left')

In [30]:
len(fact)

265903

In [31]:
len(df)

265903

In [32]:
df.isnull().sum(axis=0)

lineID          0
charID          0
movieID         0
charName        0
line            0
movieName       0
gender          0
rating       3701
dtype: int64

In [33]:
df.head()

,lineID,charID,movieID,charName,line,movieName,gender,rating
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f,NaN
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f,NaN
2,L984,u2,m0,CAMERON,She okay?,10 things i hate about you,m,NaN
3,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f,NaN
4,L924,u2,m0,CAMERON,Wow,10 things i hate about you,m,NaN

In [34]:
3701/265903     # less than 2% Nan

0.013918609417719996

In [35]:
df.fillna(6,inplace=True)

In [36]:
df.head()

,lineID,charID,movieID,charName,line,movieName,gender,rating
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f,6.0
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f,6.0
2,L984,u2,m0,CAMERON,She okay?,10 things i hate about you,m,6.0
3,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f,6.0
4,L924,u2,m0,CAMERON,Wow,10 things i hate about you,m,6.0

In [37]:
70000+170000

240000

In [38]:
df.groupby('gender').count()

        lineID  charID  movieID  charName    line  movieName  rating
gender
 ?      104298  104298   104298    104298  104298     104298  104298
 F        2174    2174     2174      2174    2174       2174    2174
 M        7654    7654     7654      7654    7654       7654    7654
 f       49385   49385    49385     49385   49385      49385   49385
 m      102391  102391   102391    102391  102391     102391  102391
$            1       1        1         1       1          1       1

In [39]:
df['gender'].replace(' F ',' f ',inplace=True)

In [40]:
df['gender'].replace(' M ',' m ',inplace=True)

In [41]:
df.drop(df[df['gender']=='$'].index,inplace=True,axis=0)

In [42]:
df.drop(df[df['gender']==' ? '].index,inplace=True,axis=0)

In [43]:
df.groupby('gender').count()

        lineID  charID  movieID  charName    line  movieName  rating
gender
 f       51559   51559    51559     51559   51559      51559   51559
 m      110045  110045   110045    110045  110045     110045  110045

In [44]:
df.head(10)

,lineID,charID,movieID,charName,line,movieName,gender,rating
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f,6.0
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f,6.0
2,L984,u2,m0,CAMERON,She okay?,10 things i hate about you,m,6.0
3,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f,6.0
4,L924,u2,m0,CAMERON,Wow,10 things i hate about you,m,6.0
5,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,f,6.0
6,L871,u2,m0,CAMERON,No,10 things i hate about you,m,6.0
7,L870,u0,m0,BIANCA,I'm kidding. You know how sometimes you just...,10 things i hate about you,f,6.0
8,L869,u0,m0,BIANCA,Like my fear of wearing pastels?,10 things i hate about you,f,6.0
9,L868,u2,m0,CAMERON,"The ""real you"".",10 things i hate about you,m,6.0

In [45]:
df_female = df[df['gender']==' f ']

In [46]:
df_male = df[df['gender']==' m ']

In [47]:
len(df_female)

51559

In [48]:
df_male_train = df_male[:50000]

In [49]:
df_male_test = df_male[50000:51000]

In [50]:
len(df_male_test)

1000

In [51]:
df_female_train = df_female[:50000]

In [52]:
df_female_test = df_female[50000:51000]

In [53]:
df_female_test.shape

(1000, 8)

In [54]:
df_train  = pd.concat([df_female_train,df_male_train],axis=0)

In [55]:
df_train.shape

(100000, 8)

In [56]:
df_train.head()

,lineID,charID,movieID,charName,line,movieName,gender,rating
0,L1045,u0,m0,BIANCA,They do not!,10 things i hate about you,f,6.0
1,L985,u0,m0,BIANCA,I hope so.,10 things i hate about you,f,6.0
3,L925,u0,m0,BIANCA,Let's go.,10 things i hate about you,f,6.0
5,L872,u0,m0,BIANCA,Okay -- you're gonna need to learn how to lie.,10 things i hate about you,f,6.0
7,L870,u0,m0,BIANCA,I'm kidding. You know how sometimes you just...,10 things i hate about you,f,6.0

In [57]:
df_test  = pd.concat([df_male_test,df_female_test],axis=0)

In [58]:
df_test.shape

(2000, 8)

In [59]:
df_train = df_train.sample(frac=1).reset_index(drop=True)

In [60]:
df_train.head()

,lineID,charID,movieID,charName,line,movieName,gender,rating
0,L42942,u3686,m243,ANNIE,You don't want me to live with you?,the birds,f,7.9
1,L603899,u3232,m214,EMMA,"Alex, it's just the zoo.",the avengers,f,3.4
2,L141564,u708,m45,ASHBY,"Jake? Right. Uh-huh... Uh-huh... Yeah, it's g...",confidence,m,6.8
3,L147848,u4688,m310,YU,Be careful. Sir Te requires discretion. Off...,"crouching tiger, hidden dragon",f,8.0
4,L29433,u3635,m239,WOODWARD,"--she was panicked, Carl--every time I mentio...",all the president's men,m,8.0

In [61]:
df_test = df_test.sample(frac=1).reset_index(drop=True)

In [62]:
df_test.head()

,lineID,charID,movieID,charName,line,movieName,gender,rating
0,L29121,u3635,m239,WOODWARD,Lotsa hints--,all the president's men,m,8.0
1,L634110,u8687,m589,GRACE,"Jake, don't go out there. Call the sheriff.",hope and glory,f,7.4
2,L38866,u3656,m241,ANDY,Serafine...,knight moves,m,5.8
3,L652295,u8899,m605,JULIE,Just because someone died and made you king o...,monkeybone,f,4.5
4,L638744,u8762,m594,MADELEINE,"Oh, yes. Fine. No after effects. But as I re...",quills,f,7.3

In [63]:
len(df_male_train[df_male_train['rating']==6.0])

1366

In [64]:
df_train = df_train[['line','gender','rating']]

In [65]:
df_train.head()

                                                line gender  rating
0                You don't want me to live with you?     f      7.9
1                           Alex, it's just the zoo.     f      3.4
2   Jake? Right. Uh-huh... Uh-huh... Yeah, it's g...     m      6.8
3   Be careful.  Sir Te requires discretion.  Off...     f      8.0
4   --she was panicked, Carl--every time I mentio...     m      8.0

In [66]:
df_test = df_test[['line','gender','rating']]

Using TensorFlow backend.

C:\Users\mritunjay\Anaconda3\envs\tensorflow\lib\site-packages\keras\datasets\imdb.py:45: UserWarning: The `nb_words` argument in `load_data` has been renamed `num_words`.
  warnings.warn('The `nb_words` argument in `load_data` '

[[46, 22], [22, 33], [40, 33], [34, 33], [49], [10], [42, 33], [26, 22], [42, 33], [19, 39, 22, 29]]

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 4, 8)              400
_________________________________________________________________
lstm_3 (LSTM)                (None, 50)                11800
_________________________________________________________________
dropout_1 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 51
=================================================================
Total params: 12,251
Trainable params: 12,251
Non-trainable params: 0
_________________________________________________________________
None

50

In [108]:
df_train.head()

                                                line gender  rating
0                You don't want me to live with you?     f      7.9
1                           Alex, it's just the zoo.     f      3.4
2   Jake? Right. Uh-huh... Uh-huh... Yeah, it's g...     m      6.8
3   Be careful.  Sir Te requires discretion.  Off...     f      8.0
4   --she was panicked, Carl--every time I mentio...     m      8.0

In [115]:
df_train['line'].str.len().max()

2758.0

In [116]:
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Flatten
from keras.layers import Dropout
from keras.models import Sequential
from keras.layers import Embedding
from keras.preprocessing.text import one_hot
from keras.preprocessing.sequence import pad_sequences

In [117]:
X_train = df_train['line']

In [118]:
y_train = df_train['gender']

In [123]:
y_train = y_train.factorize()[0]

In [228]:
voacab_size = 20000
max_len = 2000

In [229]:
def convert_docs(inputs):
    docs = list(inputs)
    docs = [str(du) for du in docs]
    encoded_docs = [one_hot(d, vocab_size) for d in docs]
    padded_docs = pad_sequences(encoded_docs, maxlen=max_len, padding='post')
    return padded_docs

In [230]:
embed_layer = Embedding(vocab_size , 128 , input_length=max_len)

In [231]:
classifier = Sequential()
classifier.add(embed_layer)
classifier.add(LSTM(50))
classifier.add(Dropout(0.2))
classifier.add(Dense(1, activation='sigmoid'))
classifier.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['acc'])
print(classifier.summary())

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_5 (Embedding)      (None, 2000, 128)         2560000
_________________________________________________________________
lstm_7 (LSTM)                (None, 50)                35800
_________________________________________________________________
dropout_5 (Dropout)          (None, 50)                0
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 51
=================================================================
Total params: 2,595,851
Trainable params: 2,595,851
Non-trainable params: 0
_________________________________________________________________
None

In [232]:
padded_docs = convert_docs(X_train)

In [234]:
classifier.fit(padded_docs, y_train , epochs=2)

In [ ]:
loss, accuracy = classifier.evaluate(padded_docs, labels, verbose=0)
print('Accuracy: %f' % (accuracy*100))